<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharda Real Estate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/images/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Raleway&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/Logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <!-------------------------navbar----------------------->
    <nav id="navbar" class="navbar  navbar-expand-lg navbar-light fixed-top">
        <div class=container-fluid>
            <a class=navbar-brand href=#> <img src=".//static/images/Logo.png" height="35px"
                    style="margin-right: 5px;margin-bottom: 5px;font-family: 'League Spartan', sans-serif !important;">Sharda
                Real Estate</a>
            <button class=navbar-toggler type=button data-bs-toggle=collapse data-bs-target=#navbarNav
                aria-controls=navbarNav aria-expanded=false aria-label="Toggle navigation">
                <span class=navbar-toggler-icon></span>
            </button>
            <div class="collapse navbar-collapse" id=navbarNav>
                <ul class="navbar-nav ms-auto">
                    <li class=nav-item>
                        <a class="nav-link active nav0" aria-current=page href=#home style="max-width:60px ;">Home</a>
                    </li>
                    <li class=nav-item>
                        <a class="nav-link active nav0" aria-current=page href=chocolate.html
                            style="max-width:60px ;">Menu</a>
                    </li>
                    </li>
                    <li class=nav-item>
                        <a href=#contact class="nav-link active nav0">Contact Us</a>
                    </li>
                    <li class=nav-item>
                        <a class="nav-link active nav0" href=#about>About Us</a>
                    </li>
                </ul>
            </div>
        </div><br>
    </nav>
    <script>$(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 20);
        });</script>
    <!----------------------------header----------------------------------->
    <header id=home style="background-image: url(/static/images/Header.png);   background-size: cover;
    background-position: center;">
        <div class=header_container>
            <h1>Hello and Welcome<br> to Our Site!<br>
                <button class="header_button">Explore Us</button>
            </h1>

        </div>
    </header>

    <!--------------------------propery options------------------------------>

    <div class="prop">
        <h1 class="head">Property Options</h1>
        <hr class="ruler">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <a style="text-decoration: none;color: black;" href="/buy">
                        <div class="card mx-auto text-center">
                            <div class="card-body">
                                <img src=".//static/images/buy.png" height="150px" style="opacity:0.8 ;">
                            </div>
                        </div>
                        <h2 class="mt-4">Buy Property</h2>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <a style="text-decoration: none;color: black;" href="/sell">
                        <div class="card mx-auto text-center">
                            <div class="card-body">
                                <img src=".//static/images/sale (1).png" height="150px" style="opacity:0.8 ;">
                            </div>
                        </div>
                        <h2 class="mt-4">Sell Property</h2>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <a style="text-decoration: none;color: black;" href="/rentbuy">
                        <div class="card mx-auto text-center">
                            <div class="card-body">
                                <img src=".//static/images/rent.png" height="150px" style="opacity:0.8 ;">
                            </div>
                        </div>
                        <h2 class="mt-4">Rent Property</h2>
                    </a>
                    <!-- <div class="bsrent">
                        <button class="bsrentbut" style="margin-right: 20px;">Buy Property</button>
                        <button class="bsrentbut">Sell Property</button>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    <br>
    <hr>
    <!--------------------------difference---------------------------------->
    <div class="diff mt-5">
        <h1>We Make A Difference</h1>
        <hr class="ruler">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <div class="counter">
                                <div class="counter-value mx-auto " data-count="500">100<p>
                                </div>
                                <p class="plus">+</p>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-4">Daily Requests</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <div class="counter">
                                <div class="counter-value mx-auto " data-count="500">100<p>
                                </div>
                                <p class="plus">+</p>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-4">Yearly Revenue</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <div class="counter">
                                <div class="counter-value mx-auto " data-count="500">100<p>
                                </div>
                                <p class="plus">+</p>
                            </div>
                        </div>
                    </div>
                    <h2 class="mt-4">Sold House</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <!----why choose us-->

    <div class="diff mt-5">
        <h1>Why Choose Us</h1>
        <hr class="ruler">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <img src=".//static/images/verified.png" height="140px" style="opacity:0.8 ;">
                        </div>
                    </div>
                    <h2 class="mt-4">Security</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <img src=".//static/images/paper.png" height="140px" style="opacity:0.8 ;">
                        </div>
                    </div>
                    <h2 class="mt-4">Paper Work</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3  mb-5">
                    <div class="card mx-auto text-center">
                        <div class="card-body">
                            <img src=".//static/images/honesty.png" height="140px" style="opacity:0.8 ;">
                        </div>
                    </div>
                    <h2 class="mt-4">Trust</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <!------------------------contact------------------------------------>
    <center>
        <div class="con ml-3 mt-5 mb-5">
            <h1>Contact Us</h1>
            <hr class="ruler">
            <div class="container form mt-5">
                <div class="div1">
                    <h3 class="pt-3" style="color: whitesmoke;padding-right: 70px;display: inline-block;">Contact
                        Information</h3>
                    <hr class="contact">
                    <div class="info ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="White"
                            class="bi bi-telephone" viewBox="0 0 16 16">
                            <path
                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                        <p style="color: whitesmoke;font-size: larger;padding-left: 25px;">+91 8369202047</p>
                    </div>
                    <div class="info1">
                        <img src=".//static/images/mail.png" width="27" height="27">
                        <p style="color: whitesmoke;font-size: larger;padding-left: 25px;">abc@gmail.com</p>
                    </div>
                    <div class="infos">
                        <img src=".//static/images/geo-alt 13.png" width="27" height="27">
                        <p style="color: whitesmoke;font-size: larger;padding-left: 25px;">Thane</p>
                    </div>
                </div>
                <div class="div2">
                    <form class="form1 mt-3" action="https://formsubmit.co/chintansharda17@gmail.com" method="POST"
                        style="text-align: left;">
                        <div class="row me-auto" style="width: 100% ;">
                            <input type="hidden" name="_captcha" value="false">
                            <div class="col-lg-6 col-md-12 col-sm-12 ms-auto">
                                <div class="mb-3 pt-2 first">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input autocomplete="off" type="text" class="form-control" id="first_name"
                                        name="first_name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mb-3 pt-2 last">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input autocomplete="off" type="text" class="form-control" id="last_name"
                                        name="last_name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mb-3 first">
                                    <label for="email" class="form-label">Email address</label>
                                    <input autocomplete="off" type="email" class="form-control" id="email"
                                        aria-describedby="emailHelp" name="email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mb-3 last">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input autocomplete="off" type="text" class="form-control" id="phone" name="phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mb-3 first">
                                    <label 
                                        style="width:133px;font-family: 'Raleway', sans-serif;font-weight: bold;">YOUR
                                        MESSAGE:-</label><br>
                                    <center>
                                        <textarea name="message" id="message" rows="8" cols="40" required
                                            style="min-width: 10vw;" class="msg"></textarea>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <button class="button" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </center>
    <!----------------------------------footer----------------------------------->
    <footer>

        <div class="pt-2" style="padding-left:10px;">
            <p style="font-size: x-large;font-weight: 600;color: rgba(0, 0, 0, 0.819);"> <img
                    src=".//static/images/Logo.png" height="40px"> Sharda Real Estate</p>
        </div>
        <hr style="width:95vw;margin: auto;">
        <div class="f1" style="padding-left:10px;">
            <div class="about">
                <p>About | </p>
                <p style="padding-left:10px ;"> Terms Of Use</p>
            </div>
            <div class="connect">
                <p>Connect | </p>
                <p style="padding-left:10px ;"><img src=".//static/images/instagram.svg"> Instagram</p>
                <p style="padding-left:10px ;"><img src=".//static/images/facebook.svg"> Facebook</p>
                <p style="padding-left:10px ;"><img src=".//static/images/twitter.svg"> Twitter</p>
            </div>
        </div>
        <div class="credits mt-4">
            Developed By Yash Bhoite
        </div>
    </footer>
    <!---------------------------------------------scripts------------------------------------------>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/static/images/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>